@import url("https://cdnjs.cloudflare.com/ajax/libs/lxgw-wenkai-webfont/1.7.0/lxgwwenkai.min.css");

.content {
    font-family: "LXGW WenKai";
    font-size: 125%;
    line-height: 1.75;
    margin: 2;
}

.heading-element {
    font-family: "LXGW WenKai";
}