@import url("https://cdnjs.cloudflare.com/ajax/libs/lxgw-wenkai-webfont/1.7.0/lxgwwenkai.min.css");

.single {
    .content {
        font-family: "LXGW WenKai";
        font-size: 125%;
        line-height: 2;

        p {
            margin: 2.25rem 0;
        }
    }
}

.heading-element {
    font-family: "LXGW WenKai";
}